.divha {
    height          : 80px;
    width           : 100%;
    background-color: aqua;
    display         : flex;
    box-shadow      : 10px 10px 5px lightblue;
}

.imgha {
    height     : 70px;
    width      : 50px;
    margin-top : 7px;
    margin-left: 10%;
}

.btn {
    background-color: DodgerBlue;
    border          : none;
    color           : white;
    padding         : 10px 14px;
    font-size       : 16px;
    cursor          : pointer;
    height          : 50px;
    margin          : 13px;
}

.btn:hover {
    background-color: rgb(225, 65, 204);
}

.divtext {
    margin-top : 100px;
    margin-left: 40%;
}

.divh {
    height          : 150px;
    width           : 150px;
    background-color: #000000;
    margin          : 50px;
}

@media screen and (max-width: 992px) {
    .divh {
        height          : 200px;
        width           : 200px;
        margin          : 200px;
        background-color: aqua;

    }

    .overlay {
        height          : 100%;
        width           : 0;
        position        : fixed;
        z-index         : 1;
        top             : 0;
        left            : 0;
        background-color: rgb(0, 0, 0);
        background-color: rgba(0, 0, 0, 0.9);
        overflow-x      : hidden;
        transition      : 0.5s;
    }

    .overlay-content {
        position  : relative;
        top       : 25%;
        width     : 100%;
        text-align: center;
        margin-top: 30px;
    }




    .divha {
        height          : 80px;
        width           : 100%;
        background-color: rgb(206, 11, 109);
        display         : flex;
        box-shadow      : 10px 10px 5px lightblue;
    }

    .imgha {
        height     : 70px;
        width      : 50px;
        margin-top : 7px;
        margin-left: 10%;
    }

    .btn {
        background-color: DodgerBlue;
        border          : none;
        color           : white;
        padding         : 10px 14px;
        font-size       : 16px;
        cursor          : pointer;
        height          : 50px;
        margin          : 13px;
    }

    .btn:hover {
        background-color: rgb(225, 65, 204);
    }

    .divtext {
        margin-top : 100px;
        margin-left: 40%;
    }
}