.txt{
    background-color: antiquewhite;
    color: rgb(250, 4, 4);
    height: 500px; 
    width: 40%;
    margin-left: 5%;
}
.txta{
    background-color: aqua;
    height: 500px; 
    width: 40%;
    margin-left: 5%;
}